{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center text-justify">
    <h1>Model retrained!</h1>
    <p class="lead">Number of spam tweets: {{ ac_spam }} Number of useful tweets: {{ ac_useful }}</p>
    <p class="lead">Accuracy on test set: {{ acc }}</p>
    <p class="lead">Identified {{ identified_useful }} of useful tweets.</p>
    <p class="lead">Identified {{ identified_spam }} of spam tweets.</p>
    <form id="positive" action="{{ url_for('home') }}" method="POST">
        <input class="btn btn-lg btn-outline-success my-2 my-sm-0" type="submit" value="Restart">
    </form>
</div>


{% endblock %}

